{% extends 'base.html.twig' %}

{% block title %}Préparer une sortie{% endblock %}

{% block body %}
    <h2>Préparer une sortie</h2>

    {{ form_start(outingForm) }}
    {{ form_widget(outingForm) }}
    <button>Créer une sortie</button>
    {{ form_end(outingForm) }}
{% endblock %}