{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    {{ form(form) }}

    <hr>

    <ul>
        {% for outing in outings %}
            <li><a href="{{ path('outing_details', {id: outing.id}) }}">{{ outing.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
